<div class="nested-fields">
	<div class = "col-md-12" id="fields">
		<div class = "col-md-1">
			<%= f.input :number, class: 'form-control' %>
		</div>

		<div class = "col-md-3">
			<%= f.input :product, class: 'form-control' %>
		</div>

		<div class = "col-md-2">
			<%= f.input :po, class: 'form-control' %>
		</div>

		<div class = "col-md-2">
			<%= f.input :cases, class: 'form-control' %>
		</div>

		<div class = "col-md-2">
			<%= f.input :weight, class: 'form-control' %>
		</div>

		<div class = "col-md-2">
			<%= f.input :breakdown, class: 'form-control' %>
		</div>

		<div class = "col-md-1">
			<button class="remove-button"><%= link_to_remove_association "Remove", f %></button>
		</div>
		
	</div>
</div>
